# Bakery

In [1]:
from datasetsDynamic.loadDataBakery import loadDataBakery

In [3]:
dataBakery = loadDataBakery(returnXY = False, testDays = 121)

Rolling: 100%|██████████| 152/152 [00:06<00:00, 24.26it/s]
Feature Extraction: 100%|██████████| 160/160 [00:30<00:00,  5.32it/s]
Rolling: 100%|██████████| 152/152 [00:06<00:00, 22.30it/s]
Feature Extraction: 100%|██████████| 160/160 [00:29<00:00,  5.35it/s]
Rolling: 100%|██████████| 152/152 [00:06<00:00, 22.55it/s]
Feature Extraction: 100%|██████████| 160/160 [00:29<00:00,  5.49it/s]

In [4]:
dataBakery.to_csv('/home/kagu/dddex/dddex/datasets/dataBakery.csv')

# Yaz

In [1]:
from datasetsDynamic.loadDataYaz import loadDataYaz

In [2]:
dataYaz_multivariate = loadDataYaz(returnXY = False, testDays = 182, daysToCut = 300, unstacked = True)

Rolling: 100%|██████████| 30/30 [00:00<00:00, 102.14it/s]
Feature Extraction: 100%|██████████| 30/30 [00:00<00:00, 41.44it/s]
Rolling: 100%|██████████| 30/30 [00:00<00:00, 102.31it/s]
Feature Extraction: 100%|██████████| 30/30 [00:00<00:00, 38.87it/s]
Rolling: 100%|██████████| 30/30 [00:00<00:00, 106.28it/s]
Feature Extraction: 100%|██████████| 30/30 [00:00<00:00, 39.94it/s]

In [3]:
dataYaz_multivariate.head()

,demand_calamari,demand_chicken,demand_fish,demand_koefte,demand_lamb,demand_shrimp,demand_steak,dayIndex,is_holiday,is_closed,...,month_JUN,month_MAR,month_MAY,month_NOV,month_OCT,month_SEP,year_2013,year_2014,year_2015,item_calamari
0,0.00,0.012821,0.1875,0.028169,0.000000,0.071429,0.066667,28.0,1.0,0.0,...,0,0,0,1,0,0,1,0,0,1
1,1.00,1.000000,0.8750,1.000000,0.900000,0.821429,0.983333,29.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,1
2,0.12,0.410256,0.2500,0.267606,0.571429,0.214286,0.433333,30.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,1
3,0.00,0.307692,0.1875,0.295775,0.314286,0.250000,0.400000,31.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,1
4,0.08,0.500000,0.4375,0.295775,0.442857,0.285714,0.283333,32.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,1

In [8]:
# dataYaz_multivariate.loc[:, [column for column in dataYaz_multivariate.columns if 'demand' in column]]
dataYaz_multivariate.loc[:, ['demand__sum_values_7_calamari', 'demand__sum_values_7_steak']]

     demand__sum_values_7_calamari  demand__sum_values_7_steak
0                             1.40                    4.616667
1                             1.20                    3.850000
2                             2.04                    4.000000
3                             1.84                    3.916667
4                             1.64                    3.850000
..                             ...                         ...
432                           1.08                    2.216667
433                           1.24                    2.466667
434                           1.24                    2.483333
435                           1.24                    2.300000
436                           1.24                    2.616667

[437 rows x 2 columns]

In [5]:
dataYaz_multivariate.to_csv('/home/kagu/dddex/dddex/datasets/dataYaz_multivariate.csv')